<table id="outer">
	<tr height="25px">
		<td width="40px">
			<div id="margin-label">margins</div>
		</td>
		<td class="margin-top" width="140px" align="center" />
		<td width="40px"></td>
	</tr>
	<tr>
		<td class="margin-left" align="center" />
		<td>
			<table id="inner">
				<tr>
					<td align="center">
						<div id="layout-label" style="position: relative" align="left">
							layout</div>
						<div id="x-label">
							<div id="l-width" class="layout-width" style="display: inline"></div>
							x
							<div id="l-height" class="layout-height" style="display: inline"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td align="center">
						<div id="c-borders">
							<div id="component-label" style="position: relative" align="left">
								component</div>
							<div id="c-width" class="component-width" style="display: inline"></div>
							x
							<div id="c-height" class="component-height"
								style="display: inline"></div>
						</div>
					</td>
				</tr>
			</table>
		</td>
		<td class="margin-right" align="center" />
	</tr>
	<tr height="25px">
		<td></td>
		<td class="margin-bottom" align="center" />
		<td></td>
	</tr>
</table>