<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configure PUBLIC "-//Mort Bay Consulting//DTD Configure//EN" "http://www.eclipse.org/jetty/configure.dtd">
<Configure class="org.eclipse.jetty.webapp.WebAppContext">

    <!-- For debug purposed only -->
    <Call name="setInitParameter">
        <Arg>org.eclipse.jetty.servlet.Default.useFileMappedBuffer</Arg>
        <Arg>false</Arg>
    </Call>

    <!-- Start Metadata datasource configuration -->
    <New id="Whirl_ds_metadata_datasource" class="org.eclipse.jetty.plus.jndi.Resource">
        <Arg></Arg>
        <Arg>Whirl/ds/metadata/datasource</Arg>
        <Arg>
            <New class="com.zaxxer.hikari.HikariJNDIFactory">
                <Arg>
                    <New class="com.zaxxer.hikari.HikariConfig">
                        <Set name="dataSourceClassName">${context.db.metadata.driverClass}</Set>
                        <Set name="jdbcUrl">${context.db.metadata.connectionURL}</Set>
                        <Set name="username">${context.db.metadata.username}</Set>
                        <Set name="password">${context.db.metadata.password}</Set>
                        <Set name="minimumPoolSize">1</Set>
                        <Set name="maximumPoolSize">200</Set>
                        <Set name="autoCommit">true</Set>
                    </New>
                </Arg>
            </New>
        </Arg>
    </New>
    <!-- Whirl datasource driver -->
    <New id="Whirl_ds_metadata_driver" class="org.eclipse.jetty.plus.jndi.EnvEntry">
        <Arg>Whirl/ds/metadata/driver</Arg>
        <Arg type="java.lang.String">${context.db.metadata.conectionWrapperClass}</Arg>
        <Arg type="boolean">false</Arg>
    </New>
    <!-- Создавать объекты в БД при первом запуске. -->
    <New id="Whirl_ds_metadata_create-dbobjects" class="org.eclipse.jetty.plus.jndi.EnvEntry">
        <Arg>Whirl/ds/metadata/create-dbobjects</Arg>
        <Arg type="java.lang.String">${context.db.metadata.creatDBObjects}</Arg>
        <Arg type="boolean">false</Arg>
    </New>
    <!-- End Metadata datasource configuration-->

    <!-- Filesystem path to store platform information including applications metadata -->
    <New id="Whirl_work-path" class="org.eclipse.jetty.plus.jndi.EnvEntry">
        <Arg>Whirl_work-path</Arg>
        <Arg type="java.lang.String">${config.work-path}</Arg>
        <Arg type="boolean">false</Arg>
    </New>

    <!-- Время жизни метаданных приложения. С этим промежутком метаданные будут обновляться -->
    <New id="Whirl_metadata_cachetimeout" class="org.eclipse.jetty.plus.jndi.EnvEntry">
        <Arg>Whirl/metadata/cachetimeout</Arg>
        <Arg type="java.lang.Integer">${config.cache-timeout}</Arg>
        <Arg type="boolean">false</Arg>
    </New>

    <!-- DEFAULT locale messages -->
    <!-- Заголовок окна браузера для локали по-умолчанию -->
    <New id="Whirl_message_default_index_title" class="org.eclipse.jetty.plus.jndi.EnvEntry">
        <Arg>Whirl/message/default/index_title</Arg>
        <Arg type="java.lang.String">Whirl Platform</Arg>
        <Arg type="boolean">false</Arg>
    </New>
    <!-- Заголовок шапки страницы логина для локали по-умолчанию -->
    <New id="Whirl_message_default_index_header" class="org.eclipse.jetty.plus.jndi.EnvEntry">
        <Arg>Whirl/message/default/index_header</Arg>
        <Arg type="java.lang.String">${context.text.header}</Arg>
        <Arg type="boolean">false</Arg>
    </New>
    <!-- Подпись нижней части страницы логина для локали по-умолчанию -->
    <New id="Whirl_message_default_index_footer" class="org.eclipse.jetty.plus.jndi.EnvEntry">
        <Arg>Whirl/message/default/index_footer</Arg>
        <Arg type="java.lang.String">Whirl Platform</Arg>
        <Arg type="boolean">false</Arg>
    </New>

    <!-- ENGLISH locale messages -->
    <!-- Заголовок окна браузера для локали "EN" (Английской) -->
    <New id="Whirl_message_EN_index_title" class="org.eclipse.jetty.plus.jndi.EnvEntry">
        <Arg>Whirl/message/EN/index_title</Arg>
        <Arg type="java.lang.String">Whirl Platform</Arg>
        <Arg type="boolean">false</Arg>
    </New>
    <!-- Заголовок шапки страницы логина для локали "EN" (Английской) -->
    <New id="Whirl_message_EN_index_header" class="org.eclipse.jetty.plus.jndi.EnvEntry">
        <Arg>Whirl/message/default/index_title</Arg>
        <Arg type="java.lang.String">${context.text.header}</Arg>
        <Arg type="boolean">false</Arg>
    </New>
    <!-- Подпись нижней части страницы логина для локали "EN" (Английской) -->
    <New id="Whirl_message_EN_index_footer" class="org.eclipse.jetty.plus.jndi.EnvEntry">
        <Arg>Whirl/message/EN/index_footer</Arg>
        <Arg type="java.lang.String">Whirl Platform</Arg>
        <Arg type="boolean">false</Arg>
    </New>

</Configure>