<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- log4j -->
	<listener>
        <listener-class>org.whirlplatform.editor.server.servlet.ContextPathInitializer</listener-class>
	</listener>

	<!-- Servlets -->
	<filter>
		<filter-name>InjectFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>InjectFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
        <listener-class>org.whirlplatform.editor.server.servlet.EditorInjectServletConfig</listener-class>
	</listener>
	<listener>
        <listener-class>org.whirlplatform.editor.server.servlet.ContextPathInitializer</listener-class>
	</listener>
  

	<session-config>
		<session-timeout>480</session-timeout>
	</session-config>

	<!-- Default page to serve -->
	<welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<display-name>SecurityConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>All</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
	</security-constraint>
	
</web-app>
